<a href="https://colab.research.google.com/github/dclark18/H-SCricketMTA/blob/master/MTA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd

url_dataset = 'https://raw.githubusercontent.com/dclark18/H-SCricketMTA/master/CricketMTA_sample.csv'
data = pd.read_csv(url_dataset, encoding = "ISO-8859-1")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46879 entries, 0 to 46878
Data columns (total 50 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Random                 46879 non-null  float64
 1   Date                   46879 non-null  object
 2   Media Week             46879 non-null  object
 3   Source                 46879 non-null  object
 4   Video                  46879 non-null  object
 5   Channel                46879 non-null  object
 6   Tactic                 46879 non-null  object
 7   Targeting              46879 non-null  object
 8   Campaign               46879 non-null  object
 9   Publisher              46879 non-null  object
 10  Placement              46879 non-null  object
 11  Creative               46879 non-null  object
 12  Concept Name           67 non-null     object
 13  Creative Name          67 non-null     object
 14  Creative ID            31074 non-null  object
 15  New Campaign Name      46879 non-null  object
 16  New Creative Campaign  46879 non-null  object
 17  New Creative Concept   46879 non-null  object
 18  Phone Offer            46879 non-null  object
 19  Plan Offer             46879 non-null  object
 20  Search Segment         42 non-null     object
 21  Brand                  6 non-null      object
 22  Screen                 25355 non-null  object
 23  Media Type             22955 non-null  object
 24  Ad Size                22607 non-null  object
 25  Tactical Segment       0 non-null      float64
 26  Strategy               0 non-null      float64
 27  GRPs                   43007 non-null  float64
 28  Impressions            44593 non-null  float64
 29  Clicks                 43380 non-null  object
 30  Spend                  44593 non-null  float64
 31  100% Completion        43950 non-null  float64
 32  Social Engagements     44384 non-null  float64
 33  Store Visits           43265 non-null  float64
 34  Total Device Orders    44141 non-null  float64
 35  Order Value            4704 non-null   float64
 36  MATCH                  46879 non-null  object
 37  Customer Type          302 non-null    object
 38  Order Status           302 non-null    object
 39  Order From             302 non-null    object
 40  Number Type            302 non-null    object
 41  Gross Add              44202 non-null  float64
 42  Event Row Count        45293 non-null  float64
 43  Matched Event Count    45293 non-null  float64
 44  iA                     45293 non-null  float64
 45  Landing Page Visits    39813 non-null  float64
 46  Buyflow Entries        39813 non-null  float64
 47  Google Foot Traffic    39846 non-null  float64
 48  Campaign ID            25341 non-null  float64
 49  Placement ID           25109 non-null  float64
dtypes: float64(20), object(30)
memory usage: 17.9+ MB

In [55]:
data.head()

     Random     Date Media Week  ... Google Foot Traffic Campaign ID Placement ID
0  0.743453  3/23/19    3/18/19  ...                 NaN         NaN          NaN
1  0.739026  3/19/19    3/18/19  ...                 NaN         NaN          NaN
2  0.042701  3/30/19    3/25/19  ...                 0.0         NaN          NaN
3  0.459205  3/15/19    3/11/19  ...                 NaN         NaN          NaN
4  0.414004  2/26/19    2/25/19  ...                 0.0         NaN          NaN

[5 rows x 50 columns]

#### Data Preparation

In [56]:
# Import all necessary libraries we will be using in our dataset

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import math
import re
import sklearn
import statistics
import random

from sklearn.feature_selection import SelectKBest, chi2, SelectPercentile, RFE, SelectFromModel

from sklearn.preprocessing import StandardScaler, Binarizer

from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import SVC, LinearSVC

from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, auc, roc_curve
from IPython.display import display, HTML

from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV, KFold, TimeSeriesSplit, StratifiedShuffleSplit

from sklearn.naive_bayes import MultinomialNB

from sklearn.ensemble import GradientBoostingClassifier,GradientBoostingRegressor,AdaBoostClassifier,RandomForestClassifier, BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

%matplotlib inline

matplotlib.style.use('ggplot')

import warnings
warnings.filterwarnings('ignore')
print(data.shape)

(46879, 50)

In [57]:
print (data.nunique())

Random                   46878
Date                       153
Media Week                  22
Source                       5
Video                        2
Channel                     10
Tactic                       3
Targeting                    3
Campaign                   134
Publisher                   42
Placement                 3789
Creative                   828
Concept Name                 3
Creative Name                6
Creative ID                 32
New Campaign Name            3
New Creative Campaign       19
New Creative Concept        62
Phone Offer                  9
Plan Offer                   9
Search Segment               1
Brand                        1
Screen                      13
Media Type                   9
Ad Size                     15
Tactical Segment             0
Strategy                     0
GRPs                         1
Impressions               5107
Clicks                     267
Spend                    12875
100% Completion           1631
Social Engagements         793
Store Visits               148
Total Device Orders          8
Order Value                302
MATCH                        2
Customer Type                4
Order Status                 3
Order From                   8
Number Type                  3
Gross Add                   11
Event Row Count           4278
Matched Event Count       3356
iA                        9275
Landing Page Visits        220
Buyflow Entries             18
Google Foot Traffic          1
Campaign ID                 23
Placement ID              2974
dtype: int64

In [58]:
print (data['Customer Type'].unique())

[nan 'UPGRADE' 'SIM_SWAP' 'NEW_CUST' 'ADDLINE']

Let's create a new column called CPIGA which will act as a aggregate of spend and the number of IAs garnered. We will ultimately be trying to classify against this value with our modeling.

In [0]:
data['CPIGA'] = data['Spend']/data['iA']

In [0]:
# let's clean the dataset a little before moving on

# 1. Remove attributes that just arent useful for us
for col in ['Concept Name','Creative Name','Random', 'Search Segment', 
            'Brand', 'Tactical Segment', 'Strategy', 'GRPs', 'Customer', 
            'Order Status', 'Order From', 'Number Type', 'Google Foot Traffic']:
    if col in data:
        del data[col]

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46879 entries, 0 to 46878
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   46879 non-null  object
 1   Media Week             46879 non-null  object
 2   Source                 46879 non-null  object
 3   Video                  46879 non-null  object
 4   Channel                46879 non-null  object
 5   Tactic                 46879 non-null  object
 6   Targeting              46879 non-null  object
 7   Campaign               46879 non-null  object
 8   Publisher              46879 non-null  object
 9   Placement              46879 non-null  object
 10  Creative               46879 non-null  object
 11  Creative ID            31074 non-null  object
 12  New Campaign Name      46879 non-null  object
 13  New Creative Campaign  46879 non-null  object
 14  New Creative Concept   46879 non-null  object
 15  Phone Offer            46879 non-null  object
 16  Plan Offer             46879 non-null  object
 17  Screen                 25355 non-null  object
 18  Media Type             22955 non-null  object
 19  Ad Size                22607 non-null  object
 20  Impressions            44593 non-null  float64
 21  Clicks                 43380 non-null  object
 22  Spend                  44593 non-null  float64
 23  100% Completion        43950 non-null  float64
 24  Social Engagements     44384 non-null  float64
 25  Store Visits           43265 non-null  float64
 26  Total Device Orders    44141 non-null  float64
 27  Order Value            4704 non-null   float64
 28  MATCH                  46879 non-null  object
 29  Customer Type          302 non-null    object
 30  Gross Add              44202 non-null  float64
 31  Event Row Count        45293 non-null  float64
 32  Matched Event Count    45293 non-null  float64
 33  iA                     45293 non-null  float64
 34  Landing Page Visits    39813 non-null  float64
 35  Buyflow Entries        39813 non-null  float64
 36  Campaign ID            25341 non-null  float64
 37  Placement ID           25109 non-null  float64
 38  CPIGA                  31813 non-null  float64
dtypes: float64(16), object(23)
memory usage: 13.9+ MB

### One Hot Encode Our categorical variables
We will be needing to one hot encode some of our categorical variables as they may provide some insight into our ia's that we generate. 

These varaibles will include the following:

* Source
* Video
* Channel
* Tactic
* Targeting
* New Campaign Name
* Phone Offer
* Plan Offer
* Match
* Customer Type
* Campaign Top

In [0]:
sourcedf = pd.get_dummies(data['Source'], prefix='source')
videodf = pd.get_dummies(data['Video'], prefix='video')
channeldf = pd.get_dummies(data['Channel'], prefix='channel')
tacticdf = pd.get_dummies(data['Tactic'], prefix='tactic')
targetingdf = pd.get_dummies(data['Targeting'], prefix='targeting')
cmpnamedf = pd.get_dummies(data['New Campaign Name'], prefix='camp_name')
phoneofferdf = pd.get_dummies(data['Phone Offer'], prefix='phone_offer')
planofferdf = pd.get_dummies(data['Plan Offer'], prefix='plan_offer')
matchdf = pd.get_dummies(data['MATCH'], prefix='match')
custtypedf = pd.get_dummies(data['Customer Type'], prefix='cust_type')
campaigniddf = pd.get_dummies(data['Campaign ID'], prefix='campaign_id')

In [63]:
sourcedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46879 entries, 0 to 46878
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   source_4C                   46879 non-null  uint8
 1   source_DCM                  46879 non-null  uint8
 2   source_Innovid              46879 non-null  uint8
 3   source_Neustar              46879 non-null  uint8
 4   source_Twitter Ads Manager  46879 non-null  uint8
dtypes: uint8(5)
memory usage: 229.0 KB

In [0]:
data = pd.concat([data, sourcedf, videodf, channeldf, tacticdf, targetingdf, cmpnamedf, phoneofferdf, planofferdf, matchdf, custtypedf, campaigniddf])

In [65]:
data.head()

      Date Media Week  ... campaign_id_22463025.0 campaign_id_22477724.0
0  3/23/19    3/18/19  ...                    NaN                    NaN
1  3/19/19    3/18/19  ...                    NaN                    NaN
2  3/30/19    3/25/19  ...                    NaN                    NaN
3  3/15/19    3/11/19  ...                    NaN                    NaN
4  2/26/19    2/25/19  ...                    NaN                    NaN

[5 rows x 112 columns]

In [66]:
# 2. Impute some missing values, grouped by their Pclass and SibSp numbers
df_grouped = data.groupby(by=['Placement ID']).sum()
print (df_grouped.describe())

        Impressions  ...  campaign_id_22477724.0
count  2.974000e+03  ...                  2974.0
mean   1.768607e+04  ...                     0.0
std    8.194946e+04  ...                     0.0
min    0.000000e+00  ...                     0.0
25%    2.800000e+01  ...                     0.0
50%    7.820000e+02  ...                     0.0
75%    6.539000e+03  ...                     0.0
max    1.442932e+06  ...                     0.0

[8 rows x 88 columns]

In [67]:
df_grouped.head()

              Impressions  ...  campaign_id_22477724.0
Placement ID               ...
235648511.0       39291.0  ...                     0.0
235648514.0        2253.0  ...                     0.0
235648526.0       36739.0  ...                     0.0
235648550.0        5951.0  ...                     0.0
235648583.0           0.0  ...                     0.0

[5 rows x 88 columns]

In [68]:
# now use this grouping to fill the data set in each group, then transform back
df_imputed = df_grouped.transform(lambda grp: grp.fillna(grp.mean()))
df_imputed[['Impressions','Spend','100% Completion','Social Engagements', 
            'Store Visits','Total Device Orders', 'Order Value',
            'Gross Add', 'Event Row Count','Matched Event Count', 'iA', 'Landing Page Visits',
            'Buyflow Entries','CPIGA']] = df_grouped[['Impressions','Spend','100% Completion','Social Engagements', 
            'Store Visits','Total Device Orders', 'Order Value',
            'Gross Add', 'Event Row Count','Matched Event Count', 'iA', 'Landing Page Visits',
            'Buyflow Entries','CPIGA']]

print (df_imputed.info())

<class 'pandas.core.frame.DataFrame'>
Float64Index: 2974 entries, 235648511.0 to 247807212.0
Data columns (total 88 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Impressions                               2974 non-null   float64
 1   Spend                                     2974 non-null   float64
 2   100% Completion                           2974 non-null   float64
 3   Social Engagements                        2974 non-null   float64
 4   Store Visits                              2974 non-null   float64
 5   Total Device Orders                       2974 non-null   float64
 6   Order Value                               2974 non-null   float64
 7   Gross Add                                 2974 non-null   float64
 8   Event Row Count                           2974 non-null   float64
 9   Matched Event Count                       2974 non-null   float64
 10  iA                                        2974 non-null   float64
 11  Landing Page Visits                       2974 non-null   float64
 12  Buyflow Entries                           2974 non-null   float64
 13  Campaign ID                               2974 non-null   float64
 14  CPIGA                                     2974 non-null   float64
 15  source_4C                                 2974 non-null   float64
 16  source_DCM                                2974 non-null   float64
 17  source_Innovid                            2974 non-null   float64
 18  source_Neustar                            2974 non-null   float64
 19  source_Twitter Ads Manager                2974 non-null   float64
 20  video_N                                   2974 non-null   float64
 21  video_Y                                   2974 non-null   float64
 22  channel_Audio                             2974 non-null   float64
 23  channel_Display                           2974 non-null   float64
 24  channel_Display 1to1                      2974 non-null   float64
 25  channel_Display Local                     2974 non-null   float64
 26  channel_OLV                               2974 non-null   float64
 27  channel_Search                            2974 non-null   float64
 28  channel_Social                            2974 non-null   float64
 29  channel_Social 1to1                       2974 non-null   float64
 30  channel_Social Local                      2974 non-null   float64
 31  channel_Upfront                           2974 non-null   float64
 32  tactic_Drive to Retail                    2974 non-null   float64
 33  tactic_Upper Funnel                       2974 non-null   float64
 34  tactic_eComm                              2974 non-null   float64
 35  targeting_African American                2974 non-null   float64
 36  targeting_General Market                  2974 non-null   float64
 37  targeting_Hispanic                        2974 non-null   float64
 38  camp_name_New Year Phone Sale 2019        2974 non-null   float64
 39  camp_name_Spring Promo 2019               2974 non-null   float64
 40  camp_name_Tax 2019Ê                       2974 non-null   float64
 41  phone_offer_Apple iPhone                  2974 non-null   float64
 42  phone_offer_Four Free Smartphones         2974 non-null   float64
 43  phone_offer_Generic                       2974 non-null   float64
 44  phone_offer_New Smartphone                2974 non-null   float64
 45  phone_offer_No Phone Offer                2974 non-null   float64
 46  phone_offer_Samsung Galaxy Halo           2974 non-null   float64
 47  phone_offer_Samsung Galaxy S10            2974 non-null   float64
 48  phone_offer_Tax Free Samsung Amp Prime    2974 non-null   float64
 49  phone_offer_Tax Phone Selection           2974 non-null   float64
 50  plan_offer_$100 Off                       2974 non-null   float64
 51  plan_offer_$30 Plans                      2974 non-null   float64
 52  plan_offer_$50 Plan                       2974 non-null   float64
 53  plan_offer_0.99                           2974 non-null   float64
 54  plan_offer_4/$100                         2974 non-null   float64
 55  plan_offer_4/$100 + Mexico                2974 non-null   float64
 56  plan_offer_No Plan Offer                  2974 non-null   float64
 57  plan_offer_Unlimited + Mexico             2974 non-null   float64
 58  plan_offer_Unlimited + Mexico and Canada  2974 non-null   float64
 59  match_No                                  2974 non-null   float64
 60  match_Yes                                 2974 non-null   float64
 61  cust_type_ADDLINE                         2974 non-null   float64
 62  cust_type_NEW_CUST                        2974 non-null   float64
 63  cust_type_SIM_SWAP                        2974 non-null   float64
 64  cust_type_UPGRADE                         2974 non-null   float64
 65  campaign_id_22080394.0                    2974 non-null   float64
 66  campaign_id_22083908.0                    2974 non-null   float64
 67  campaign_id_22092970.0                    2974 non-null   float64
 68  campaign_id_22123914.0                    2974 non-null   float64
 69  campaign_id_22126087.0                    2974 non-null   float64
 70  campaign_id_22132698.0                    2974 non-null   float64
 71  campaign_id_22138168.0                    2974 non-null   float64
 72  campaign_id_22172931.0                    2974 non-null   float64
 73  campaign_id_22267583.0                    2974 non-null   float64
 74  campaign_id_22289204.0                    2974 non-null   float64
 75  campaign_id_22300694.0                    2974 non-null   float64
 76  campaign_id_22309146.0                    2974 non-null   float64
 77  campaign_id_22357961.0                    2974 non-null   float64
 78  campaign_id_22373571.0                    2974 non-null   float64
 79  campaign_id_22391019.0                    2974 non-null   float64
 80  campaign_id_22397066.0                    2974 non-null   float64
 81  campaign_id_22398760.0                    2974 non-null   float64
 82  campaign_id_22447767.0                    2974 non-null   float64
 83  campaign_id_22456671.0                    2974 non-null   float64
 84  campaign_id_22460409.0                    2974 non-null   float64
 85  campaign_id_22460922.0                    2974 non-null   float64
 86  campaign_id_22463025.0                    2974 non-null   float64
 87  campaign_id_22477724.0                    2974 non-null   float64
dtypes: float64(88)
memory usage: 2.0 MB
None

In [0]:
df_imputed['CPIGA'] = df_imputed['Spend']/df_imputed['iA']

In [70]:
df_imputed.head()

              Impressions  ...  campaign_id_22477724.0
Placement ID               ...
235648511.0       39291.0  ...                     0.0
235648514.0        2253.0  ...                     0.0
235648526.0       36739.0  ...                     0.0
235648550.0        5951.0  ...                     0.0
235648583.0           0.0  ...                     0.0

[5 rows x 88 columns]

In [71]:
df_imputed.describe()

        Impressions  ...  campaign_id_22477724.0
count  2.974000e+03  ...                  2974.0
mean   1.768607e+04  ...                     0.0
std    8.194946e+04  ...                     0.0
min    0.000000e+00  ...                     0.0
25%    2.800000e+01  ...                     0.0
50%    7.820000e+02  ...                     0.0
75%    6.539000e+03  ...                     0.0
max    1.442932e+06  ...                     0.0

[8 rows x 88 columns]

In [0]:
# 3. Remove attributes tha are coming up as zeros in our describe
for col in ['Social Engagements','Store Visits','Event Row Count','Matched Event Count', 'iA', 'CPIGA', 'Campaign ID']:
    if col in df_imputed:
        del df_imputed[col]

In [73]:
df_imputed.head()

              Impressions  ...  campaign_id_22477724.0
Placement ID               ...
235648511.0       39291.0  ...                     0.0
235648514.0        2253.0  ...                     0.0
235648526.0       36739.0  ...                     0.0
235648550.0        5951.0  ...                     0.0
235648583.0           0.0  ...                     0.0

[5 rows x 81 columns]

Drop:
Concept Name, Creative Name, Random, Search Segment, Brand, Tactical Segment, Strategy, GRPs, Customer, Order Status, Order From, Number Type, Google Foot Traffic



Possibly Drop: 

Creative ID, Screen, Ad Size (possibly encode nas as social, Media Type


One Hot Encode
Source
video
channel
Tactic
Targeting
New Campaign Name
Phone Offer
Plan Offer
MATCH

needs tinkering:

100% completion (need to account for non video placements), Ad Size (possibly encode nas as social), Media Type,

In [0]:
sourcedf = pd.get_dummies(data['Source'], prefix='source')
videodf = pd.get_dummies(data['Video'], prefix='video')
channeldf = pd.get_dummies(data['Channel'], prefix='channel')
tacticdf = pd.get_dummies(data['Tactic'], prefix='tactic')
targetingdf = pd.get_dummies(data['Targeting'], prefix='targeting')
cmpnamedf = pd.get_dummies(data['New Campaign Name'], prefix='camp_name')
phoneofferdf = pd.get_dummies(data['Phone Offer'], prefix='phone_offer')
planofferdf = pd.get_dummies(data['Plan Offer'], prefix='plan_offer')
matchdf = pd.get_dummies(data['MATCH'], prefix='match')
custtypedf = pd.get_dummies(data['Customer Type'], prefix='cust_type')
campaigniddf = pd.get_dummies(data['Campaign ID'], prefix='campaign_id')

In [0]:
# Data drops 

# Remove unwanted columns, which include all the specific categories, 
# we will classify against the 
"""
cat_vars=['counter', 'liquor_category', 'store_parent',
 'month', 'year', 'monthyear', 'liquor_category_AMARETTO', 'liquor_category_BRANDY', 'liquor_category_GIN', 
 'liquor_category_LIQUEUR', 'liquor_category_Other', 'liquor_category_RUM', 'liquor_category_SCHNAPPS', 
 'liquor_category_TEQUILA', 'liquor_category_VODKA', 'month_Apr', 'month_Aug', 'month_Dec', 'month_Feb',
 'month_Jan', 'month_Jul', 'month_Jun', 'month_Mar', 'month_May', 'month_Nov', 'month_Oct', 'month_Sep', 
 'store_parent_CVS', 'store_parent_Caseys', 'store_parent_Hy-Vee', 'store_parent_Kum&Go', 
 'store_parent_Other', 'store_parent_QuikTrip', 'store_parent_SamsClub', 'store_parent_SmokingJoes', 
 'store_parent_Target', 'store_parent_Wal-Mart', 'store_parent_Walgreens']
data_vars=data.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_vars]
"""
#keep our transformed detail, along with the timing and store name detail