<a href="https://colab.research.google.com/github/dclark18/H-SCricketMTA/blob/master/MTA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

url_dataset = 'https://raw.githubusercontent.com/dclark18/H-SCricketMTA/master/CricketMTA_sample.csv'
data = pd.read_csv(url_dataset, encoding = "ISO-8859-1")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46879 entries, 0 to 46878
Data columns (total 50 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Random                 46879 non-null  float64
 1   Date                   46879 non-null  object
 2   Media Week             46879 non-null  object
 3   Source                 46879 non-null  object
 4   Video                  46879 non-null  object
 5   Channel                46879 non-null  object
 6   Tactic                 46879 non-null  object
 7   Targeting              46879 non-null  object
 8   Campaign               46879 non-null  object
 9   Publisher              46879 non-null  object
 10  Placement              46879 non-null  object
 11  Creative               46879 non-null  object
 12  Concept Name           67 non-null     object
 13  Creative Name          67 non-null     object
 14  Creative ID            31074 non-null  object
 15  New Campaign Name      46879 non-null  object
 16  New Creative Campaign  46879 non-null  object
 17  New Creative Concept   46879 non-null  object
 18  Phone Offer            46879 non-null  object
 19  Plan Offer             46879 non-null  object
 20  Search Segment         42 non-null     object
 21  Brand                  6 non-null      object
 22  Screen                 25355 non-null  object
 23  Media Type             22955 non-null  object
 24  Ad Size                22607 non-null  object
 25  Tactical Segment       0 non-null      float64
 26  Strategy               0 non-null      float64
 27  GRPs                   43007 non-null  float64
 28  Impressions            44593 non-null  float64
 29  Clicks                 43380 non-null  object
 30  Spend                  44593 non-null  float64
 31  100% Completion        43950 non-null  float64
 32  Social Engagements     44384 non-null  float64
 33  Store Visits           43265 non-null  float64
 34  Total Device Orders    44141 non-null  float64
 35  Order Value            4704 non-null   float64
 36  MATCH                  46879 non-null  object
 37  Customer Type          302 non-null    object
 38  Order Status           302 non-null    object
 39  Order From             302 non-null    object
 40  Number Type            302 non-null    object
 41  Gross Add              44202 non-null  float64
 42  Event Row Count        45293 non-null  float64
 43  Matched Event Count    45293 non-null  float64
 44  iA                     45293 non-null  float64
 45  Landing Page Visits    39813 non-null  float64
 46  Buyflow Entries        39813 non-null  float64
 47  Google Foot Traffic    39846 non-null  float64
 48  Campaign ID            25341 non-null  float64
 49  Placement ID           25109 non-null  float64
dtypes: float64(20), object(30)
memory usage: 17.9+ MB

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data.head()

     Random     Date Media Week  ... Google Foot Traffic Campaign ID Placement ID
0  0.743453  3/23/19    3/18/19  ...                 NaN         NaN          NaN
1  0.739026  3/19/19    3/18/19  ...                 NaN         NaN          NaN
2  0.042701  3/30/19    3/25/19  ...                 0.0         NaN          NaN
3  0.459205  3/15/19    3/11/19  ...                 NaN         NaN          NaN
4  0.414004  2/26/19    2/25/19  ...                 0.0         NaN          NaN

[5 rows x 50 columns]

#### Data Preparation

In [6]:
# Import all necessary libraries we will be using in our dataset

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import math
import re
import sklearn
import statistics
import random

from sklearn.feature_selection import SelectKBest, chi2, SelectPercentile, RFE, SelectFromModel

from sklearn.preprocessing import StandardScaler, Binarizer

from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import SVC, LinearSVC

from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, auc, roc_curve
from IPython.display import display, HTML

from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV, KFold, TimeSeriesSplit, StratifiedShuffleSplit

from sklearn.naive_bayes import MultinomialNB

from sklearn.ensemble import GradientBoostingClassifier,GradientBoostingRegressor,AdaBoostClassifier,RandomForestClassifier, BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

%matplotlib inline

matplotlib.style.use('ggplot')

import warnings
warnings.filterwarnings('ignore')
print(data.shape)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

(46879, 50)

In [8]:
print (data.nunique())

Random                   46878
Date                       153
Media Week                  22
Source                       5
Video                        2
Channel                     10
Tactic                       3
Targeting                    3
Campaign                   134
Publisher                   42
Placement                 3789
Creative                   828
Concept Name                 3
Creative Name                6
Creative ID                 32
New Campaign Name            3
New Creative Campaign       19
New Creative Concept        62
Phone Offer                  9
Plan Offer                   9
Search Segment               1
Brand                        1
Screen                      13
Media Type                   9
Ad Size                     15
Tactical Segment             0
Strategy                     0
GRPs                         1
Impressions               5107
Clicks                     267
Spend                    12875
100% Completion           1631
Social Engagements         793
Store Visits               148
Total Device Orders          8
Order Value                302
MATCH                        2
Customer Type                4
Order Status                 3
Order From                   8
Number Type                  3
Gross Add                   11
Event Row Count           4278
Matched Event Count       3356
iA                        9275
Landing Page Visits        220
Buyflow Entries             18
Google Foot Traffic          1
Campaign ID                 23
Placement ID              2974
dtype: int64

In [47]:
print (data['Placement ID'].unique())

[           nan 2.35821580e+08 2.35774574e+08 ... 2.35813192e+08
 2.41065315e+08 2.43058228e+08]

Drop:
Concept Name, Creative Name, Random, Search Segment, Brand, Tactical Segment, Strategy, GRPs, Customer, Order Status, Order From, Number Type, Google Foot Traffic



Possibly Drop: 

Creative ID, Screen, Ad Size (possibly encode nas as social, Media Type


One Hot Encode
Source
video
channel
Tactic
Targeting
New Campaign Name
Phone Offer
Plan Offer
Total Device Orders
MATCH

needs tinkering:

100% completion (need to account for non video placements), Ad Size (possibly encode nas as social), Media Type,